@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    margin:20px 460px;
    padding:20px 40px
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin:20px 460px;
    padding:20px 40px;
    
}

.topic {
    background: lightgray;
    /*add CSS here*/
    display:inline-block;
    margin:45px;
    
}

